.view {
  margin: auto;
  margin-top:10%;
  height:50%;
  font-family: 'Open Sans', sans-serif;
}
#signin form {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}
#signin input {
  display: inline;
  border-width:0;
}

.password input::-webkit-input-placeholder {
  color: #fd9;
  text-transform: uppercase;
}
.password input::-moz-placeholder {
  color: #fd9;
  text-transform: uppercase;
}
.password input:-moz-placeholder {
  color: #fd9;
  text-transform: uppercase;
}
.password nput:-ms-input-placeholder { 
  color: #fd9;
  text-transform: uppercase;
}

.username input::-webkit-input-placeholder {
  color: #9df;
  text-transform: uppercase;
}
.username input::-moz-placeholder {
  color: #9df;
  text-transform: uppercase;
}
.username input:-moz-placeholder {
  color: #9df;
  text-transform: uppercase;
}
.username nput:-ms-input-placeholder { 
  color: #9df;
  text-transform: uppercase;
}
#signin form span, input {
  font-size: 16px;
  margin-top: 5px;
}

#signin button {
  display: block;
  width:100%;
  margin-top: 10px;
}

